.background, .foreground, .foreground-1 {
    position: absolute;
    width: 100%;
    object-fit: cover;
  }
  
  .background {
    transform: translateZ(-20px) scale(5.5);
  }
  
  .foreground {
    transform: translateZ(-10px) scale(2.2);
    height: 100%;
  }
  
  .foreground-1 {
    transform: translateZ(-5px) scale(2);
  }

  .intro-text {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  
    h1 {
      font-size: 5rem;
    }
  }