.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    left:0;
    right:0;
    top:0;    
    z-index: 1;
    color: white;
    font-size: 24px;
    text-shadow: 0 0 5px black;
    background-color: #222;
    gap: 32px;
    position: fixed;
}

.tab {
    padding: 8px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .nav {
        font-size: 12px;
        margin-right: 0;
    }

    .tab {
        padding: 12px;
    }
}

@media screen and (min-width: 501px) and (max-width: 687px) {
    .nav {
        font-size: 24px;
    }
  }
