.standings-container {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.conf-header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: left;
    align-items: center;

    button {
        font-siZe: 12px;
        padding: 4px;
        border-radius: 4px;
    }
}

.conf-title {
    width: 275px;
}

.conf {
    width: 100%;
    overflow-x: scroll;
}

.legend {
    padding-top: 16px;
    width: 100%;
    justify-content: left;
}