.nfl-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 120px;
}

@media screen and (max-width: 480px) {
   .nfl-app {
      margin: 12px;
    }
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .nfl-app {
      margin: 32px;
  
      h1 {
        font-size: 32px;
      }
    }
  
    header {
      height: 50%;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1440px) {
    .nfl-app {
      margin: 24px 144px;
    }
  }
  
  @media screen and (min-width: 1441px) and (max-width: 1780px) {
    .nfl-app {
      margin: 32px 320px;
    }
  }