.projects-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.project-title {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .projects-container {
        flex-direction: column;
    }
  }