

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container.nav-container {
  display: inline-flex;
  justify-content: center;
}

.photo-container {
  padding: 50px;
}

.loading-container {
  display: inline-flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.body {
   position: relative;
   height: 100%;
   min-height: 500px;
   width: 100%;
   background: rgb(15, 15, 15);
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   color: white;
}

.body.homepage {
  background: #161415 url(./images/homepage-background.jpg) no-repeat center center;
  height: 100vh;
}

.body.photography {
  overflow: visible !important;
  min-height: 1500px;
}

.body.resume {
  overflow: hidden;
  height: 100vh;
}

.project-col {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.project-image {
  max-width: 70vw;
}

.project-item {
  padding-bottom: 50px;
}

.homepage-content {

   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-top: 150px;
   padding-bottom: 30px;
   text-align: center;
}

.introduction {
  font-size: 80px;
}

.intro-description {
  font-size: 30px;
}

.navbar-brand.selected {
  color:  #61819d;
  /* #5e809c #456b8f #4a6e90 #426582 */
}

.navbar-brand.selected:hover {
  color:  #61819d;
}
.navbar-brand {
  padding: 10px;
}

.navbar-item {
  font-size: 1.5vw;
}

b {
  opacity: 1;
  transition: opacity .5s;
}

b:hover {
  opacity: .6;
}

.thumbnail-container {
     display: inline-block;
     vertical-align: left;
     margin: 0 auto;
     width: 85%;
     padding-top: 150px;
     padding-bottom: 30px;
     text-align: center;
  }

.about-content {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 10vh;
  align-items: center;
}

.about-body {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.about-paragraph {
  font-size: larger;
  text-align: left;
}

